body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  
  .App {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .App-header {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
    font-family: inherit;
  }

  .line {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }

  .line1 {
    animation-delay: 0s;
  }

  .line2 {
    animation-delay: 1s;
  }

  .line3 {
    animation-delay: 2s;
  }

  @keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }

  .drop-zone-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .center-drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drop-zone {
    border: 2px dashed black;
    padding: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
  }
  
  .drop-zone.dragover {
    background-color: #f0f0f0;
  }

  .drop-zone button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
  }

  .drop-zone p {
  margin: 20px 0;
  font-family: inherit;
  }

  .drop-zone button:hover {
  background-color: #333;
  }

  .drop-zone button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .result-box {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-box img {
    max-width: 10%;
    height: auto;
  }